<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370512729399-rvrgq2snt5c64tk1rtcnftioe8v040kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370512729399-rvrgq2snt5c64tk1rtcnftioe8v040kk</string>
	<key>API_KEY</key>
	<string>AIzaSyD1lCc3yZDHYgJBWwiXDH7MflCPcbJ9fwI</string>
	<key>GCM_SENDER_ID</key>
	<string>370512729399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskmanage</string>
	<key>PROJECT_ID</key>
	<string>task-management-app-b051a</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-app-b051a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370512729399:ios:53617e019adc5ca34af6b2</string>
</dict>
</plist>